<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AUTOMATIC NUMBER-PLATE RECOGNITION</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* Custom CSS for image display */
        .img-container {
            text-align: center;
            margin-top: 20px;
        }
        .img-container img {
            width: auto;
            max-width: 100%;
            max-height: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-light" style="background-color: #c1dce0">
        <div class="container">
            <a class="navbar-brand" href="/">
                <h1 class="display-6">NUMBER PLATE OCR</h1>
            </a>
        </div>
    </nav>

    <div class="container">
        <br /><br /><br />
        <form action="/" method="POST" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <input type="file" class="form-control" name="image_name" required>
                <button class="btn btn-outline-secondary" type="submit">UPLOAD</button>
            </div>
        </form>

        {% if filename %}
        <div class="row">
            <div class="col-md-6">
                <h3>Uploaded Image</h3>
                <div class="img-container">
                    <img src="{{ url_for('static', filename='upload/' ~ filename) }}" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                {% if predicted_filename %}
                    <h3>Predicted Image</h3>
                    <div class="img-container">
                        <img src="{{ url_for('static', filename='predict/' ~ predicted_filename) }}" class="img-fluid">
                    </div>
                    {% if plate_texts %}
                        <h3>Detected Number Plate Texts</h3>
                        <ul>
                            {% for text in plate_texts %}
                                <li>{{ text }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% else %}
                    <p>No prediction available</p>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>

</body>
</html>
